#eventPage {
    margin:0 auto;
    width: 100%;


}

#eventPage #eventDetails {
    float:left;
    width:200px;
    border-radius: 5px;
    border:1px solid #CF8414;
    background: white;

}

#eventImage {
    height:175px;
    width:175px;
    margin:15px auto;
    margin-left:10px;
    border-radius: 5px;
    border:1px solid #CF8414;
}

#eventImage img{
    border-radius: 5px;
}

#eventPage #eventComments {
    height:100px;
    width:650px;
    margin:0 auto;
    text-align:center;
    border-radius: 5px;
    border:1px solid #CF8414;
}

#eventPage #eventComments #addComment{
    height: 70px;
    width: 600px;
    margin: 15px auto;
    border-radius: 5px;
    border:1px solid #CF8414;
}

#titleText{
    float:left;
    margin-left: 12px;
    color: white;
}

#eventPage #eventComments #addComment #horizontalRule{
    height: 1px;
    width: 580px;
    margin: 20px auto;
    background: #CF8414;
}
#eventPage #eventMap {
    float:right;
    height:auto;
    width:200px;
    text-align:center;
    border-radius: 5px;
    border:1px solid #CF8414;
    background:white;
}

#eventDescription{
    width:175px;
    margin:15px auto;
    margin-left:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid #CF8414;
}

#attendButton{
    margin 10px auto;
    margin-bottom:5px;
}

#eventDescriptionHeader {
    height: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #FDA728
}

#descriptionRuler {
    height:1px;
    width:150px;
    margin:20px auto;
    background:#CF8414;
}

#infoText {
    margin:0 auto;
    margin-left: 12px;
    color:#CF8414;
 }

fieldset {
    margin:3px 5px;
    border: 1px solid #CF8414;
    color: #CF8414;
}