body {
    height:100%;
    padding:0;
    margin:0;
}

#everything{
    display:flex;
}

#contentFlex {
    flex:1;
}

#content {
	width:1250px;
	margin:0 auto;
	padding-top:70px;
}

#navbar {
    top:0;
    left:0;
    right:0;
    position:fixed;
    background:#FDA728;
    padding:3px;
    height:35px;
}

#navbarContent {
    width:1250px;
    margin:0 auto;
}


#footer {
	font-size: 12px;
	color: #555;
	text-align: center;
	vertical-align: bottom;
	margin: 20px 0 3px 0;
}


/* Sidebar search menu */
#sidebarSearchContent {
    margin-left:210px;
    width:1000px;
}

#sidebarSearchFlex {
    width: 200px;
    height:100%;
    border:1px solid #ccc;
}
#sidebarSearch {
    position: fixed;
    top: 41px;
    bottom: 0;
    left: 0;
    border-right: 1px solid #111;
    padding:5px;
    background:#f3f3f3;
    width: 200px;
}

#sidebarSearchMap {
    height: 150px;
    margin:8px 0;
}

#sidebarSearchInput {

}

.photoBox {
	background-color:#ededed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	text-align:center;

    display:inline-block;
    min-width:250px;
    min-height:250px;
    margin:5px;
    padding:5px;
    cursor:pointer;
}

.photoBox:hover {
	background-color:#dfdfdf;
}

.photoBox img {
    vertical-align:top;
}


/* Front-page map & sidebar */
#eventMapContainer {
    height:600px;
}

#eventMapSearch {
    width:600px;
    margin: 20px auto;
}

#eventMap {
    width:75%;
    height:100%;
    float:left;
    margin-right:1%;
}

#eventMapSidebar {
    width:24%;
    height:100%;
    float:right;
}

.eventDetails{
	border-style:solid;
	border-color:#222;
	border-width:1px;
	margin-bottom:5px;

	background:#fff;
	color:#333;
	padding:3px;
}

.eventDetailsHeader {
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

.eventDetailsHeader:hover {
	background:#eee;
}

.eventDetailsContent {}


/* General */
.hidden {
    display: none;
}

.time {
    font-size: 12px;
    color: #555;
}

h2 {
    font-size:30px;
    color:#444;
    margin:0;
    display:inline-block;
}

#regTable {
    text-align:center;
    background:white;
    width:300px;
    margin:0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #FDA728;

}

#regTable table {
    width:100%;
}

#regTable td {
    text-size:20px;
    color:green;

}

#regTable tr{
    background:#FDA728;
    border-width:5px;
    border-color:white;
}
