body {
    height:100%;
    padding:0;
    margin:0;
    background: #F5F2EC;
}

a {
    margin:0;
    padding:0;
}

#everything{
    display:flex;
}

#contentFlex {
    flex:1;
}

#content {
	margin:0 10px;
	padding-top:70px;
}

#navbar {
    top:0;
    left:0;
    right:0;
    position:fixed;
    background:#303f9f;
    height:40px;
    border-bottom: 1px solid #9fa8da;
    z-index:10;
}

#navbarContent {
    width:1250px;
    height:25px;
    margin:8px auto;
}


#navbarLogo {
    height: 25px;
    width: 25px;
    display:inline-block;
    float:left;
}

#navbarTitle {
    height:25px;
    width:300px;
    font-size:25px;
    color:#ffffff;
    display:inline-block;
    padding:0 5px;
    float:left;
}

#login {
    height: 30px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid #CF8414;
    display:inline-block;
    font-size:15px;
    color:white;
}



#footer {
	font-size: 12px;
	color: #555;
	text-align: center;
	vertical-align: bottom;
	margin: 20px 0 3px 0;
}


/* Sidebar search menu */
#sidebarSearchContent {
    margin-left:410px;
    width:1000px;
}

#sidebarSearchFlex {
    width: 415px;
    height:100%;
}

#sidebarSearch {
    position: fixed;
    top: 41px;
    bottom: 0;
    left: 0;
    border-right: 1px solid #9fa8da;
    padding:5px;
    width: 400px;
}

#sidebarSearchAddress {
    margin:8px 0;
    border: 1px solid #9fa8da;
}

#sidebarSearchAddress input {
    width:100%;
    border:0;
    padding:3px 8px;
}

#sidebarSearchMap {
    height: 300px;
}

#sidebarSearchInput {

}

.contentBox {
	background-color:#c5cae9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #9fa8da;
	display:inline-block;
	color:#777777;
	text-align:center;

    min-width:250px;
    min-height:265px;
    margin:5px;
    padding:5px;
    cursor:pointer;
    float:left;
}

.contentBox:hover {
	background-color:#5c6bc0;
    transform: scale(1.1);
    transition: all 0.3s;
    z-index:1;
}

.contentBox img {
    vertical-align:top;
}

.largeContentBox {
    min-width: 1050px;
    min-height: 800px;
}

#enlargedPhoto {
    text-align:center;
}


/* Front-page map & sidebar */
#eventMapContainer {
    height:600px;
}

#eventMapSearch {
    width:600px;
    margin: 20px auto;
}

#eventMap {
    width:75%;
    height:100%;
    float:left;
    margin-right:1%;
}

#eventMapSidebar {
    width:24%;
    height:100%;
    float:right;
}

.eventDetails{
    border: 1px solid #222;
    margin-bottom:5px;

	background:#fff;
	color:#333;
	padding:3px;
}

.eventDetailsHeader {
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

.eventDetailsHeader:hover {
	background:#eee;
}

.eventDetailsContent {}


/* General */
.hidden {
    display: none;
}

.time {
    font-size: 12px;
    color: #555;
}

.right {
    float:right;
}

.error {
    background:#ff0000;
    margin-bottom:5px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:5px;
}

.success {
    background:#00ff00;
    margin-bottom:5px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:5px;
}

h2 {
    font-size:30px;
    color:#444;
    margin: 5px 0;
    display:inline-block;
}


/* REGISTRATION TABLE DESIGN */
.submitTable {
    background:#ffffff;
    margin:0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #303f9f;
    width:430px;
}

.submitTable table {
    width:100%;
    border-collapse: collapse;
}

.submitTable td {;
    color:black;
    font-size:15px;
    padding: 10px 5px 5px;
}

.submitTable input{
    border: 1px solid #9fa8da;
}

.submitTable th{
    background: #303f9f;
    text-align:center;
    color:white;
    font-family:Verdana,serif;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    padding:0 0 10px;
}


.submitTable #center {
    font-weight: 900;
    text-align:center;
}

.submitTable #center button{
    width: 410px;
}

.submitTable textarea{
    width: 100%;
    resize: vertical;
}


.submitButton {
	background-color:#ff9100;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #ff6d00;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana,serif;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	text-decoration:none;
	text-align:center;
	padding:0 5px;
	margin:0 5px;
}

.submitButton:hover {
	background-color:#ff6d00;

}.submitButton:active {
	position:relative;
	top:1px;
}

.center {
    text-align: center;
}


/* OVERLAY */
#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:11; /* Must be +1 over navbar */
}

#overlayModal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    z-index:12; /* Must be +1 over overlay */
}

#overlayContent {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#overlayClose {
    position:absolute;
    background:url(../img/design/close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

.likeButton {
    width:25px;
    height:25px;
    display:inline-block;
    background:url(../img/design/thumbsUp.png);
}

.dislikeButton {
    width:25px;
    height:25px;
    display:inline-block;
    background:url(../img/design/thumbsDown.png);
}

.share-buttons{
    list-style: none;
}

.share-buttons li{
    display: inline;
}

input {
    width:100%;
    padding: 3px 8px;
}

