body {
    height:100%;
    padding:0;
    margin:0;
    background: #F5F2EC;
}

#everything{
    display:flex;
}

#contentFlex {
    flex:1;
}

#content {
	width:1110px;
	margin:0 auto;
	padding-top:70px;
}

#navbar {
    top:0;
    left:0;
    right:0;
    position:fixed;
    background:#FDA728;
    height:40px;
    border-bottom: 1px solid #CF8414;
}

#navbarContent {
    width:1250px;
    height:30px;
    margin:5px auto;
}


#navbarLogo {
    height: 25px;
    width: 25px;
    display:inline-block;
}

#navbarTitle {
    height:30px;
    width:300px;
    font-size:30px;
    color:#444;
    display:inline-block;
}

#login {
    height= 30px;
    width =100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CF8414;
    display:inline-block;
    font-size:15px;
    color:white;
}



#footer {
	font-size: 12px;
	color: #555;
	text-align: center;
	vertical-align: bottom;
	margin: 20px 0 3px 0;
}


/* Sidebar search menu */
#sidebarSearchContent {
    margin-left:210px;
    width:1000px;
}

#sidebarSearchFlex {
    width: 215px;
    height:100%;
}

#sidebarSearch {
    position: fixed;
    top: 41px;
    bottom: 0;
    left: 0;
    border-right: 1px solid #CF8414;
    padding:5px;
    width: 200px;
}

#sidebarSearchMap {
    height: 150px;
    margin:8px 0;
    border: 1px solid #CF8414;
}

#sidebarSearchInput {

}

.photoBox {
	background-color:#FDA728;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border:1px solid #CF8414;
	display:inline-block;
	color:#777777;
	text-align:center;

    display:inline-block;
    min-width:250px;
    min-height:250px;
    margin:5px;
    padding:5px;
    cursor:pointer;
}

.photoBox:hover {
	background-color:#F1C871;
}

.photoBox img {
    vertical-align:top;
}


/* Front-page map & sidebar */
#eventMapContainer {
    height:600px;
}

#eventMapSearch {
    width:600px;
    margin: 20px auto;
}

#eventMap {
    width:75%;
    height:100%;
    float:left;
    margin-right:1%;
}

#eventMapSidebar {
    width:24%;
    height:100%;
    float:right;
}

.eventDetails{
	border-style:solid;
	border-color:#222;
	border-width:1px;
	margin-bottom:5px;

	background:#fff;
	color:#333;
	padding:3px;
}

.eventDetailsHeader {
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

.eventDetailsHeader:hover {
	background:#eee;
}

.eventDetailsContent {}


/* General */
.hidden {
    display: none;
}

.time {
    font-size: 12px;
    color: #555;
}

h2 {
    font-size:30px;
    color:#444;
    margin: 5px 0;
    display:inline-block;
}

/* REGISTRATION TABLE DESIGN */

#regTable {
    background:#FDA728;
    width:300px;
    margin:0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #FDA728;
}

#regTable table {
    width:100%;
}

#regTable td {
    margin:0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* next two need to have same color */
    border:10px solid FFD547;
    background:FFD547;
    color:black;
    text-size:30px;
    text-align:left;
}

#regTable td label{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
}
#regTable td input {
    display: inline-block;
    float: right;
}

#regTable #center2 {
    float:none;
    display:block;
    margin:0 auto;
}



.submitButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fda828), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #fda828 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fda828', endColorstr='#fb9e25');
	background-color:#fda828;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #cf831f;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
	margin:0 10px 10px 10px;
}

.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #fda828) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #fda828 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#fda828');
	background-color:#fb9e25;

}.submitButton:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
/*COPY PASTED FORM HERE */

