div.input-search-area {
    width: 600px;
    margin: 20px auto;
}

ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 600px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

ul.token-input-list li {
    list-style-type: none;
}


li.token-input-token {
    overflow: hidden;
    height: auto !important;
    margin: 3px;
    padding: 3px 6px;
    color: #FFFFFF;
    background-color: #0094FF;
    font-size: 11px;
    font-weight: bold;
    cursor: default;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:182px;
    float:left;
    white-space: nowrap;
}


li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #FFFFFF;
    cursor: pointer;
}


li.token-input-selected-token {
    background-color: #0094FF;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 600px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}

div.token-input-dropdown p.interest_name {
    float: left;
}

div.token-input-dropdown p.score {
    float: right;
    color: #B7B7B7;
}

